Repository SergeiKrivko/aidoc: changes, and which Woodpecker steps are due for each by the changed paths.
All: build-api, build-cli

.woodpecker/build-api.yml:

when:
  - event: push
    path:
      include: [ '.woodpecker/build-api.yml', 'api/**' ]

steps:
  - name: build and push api
    image: woodpeckerci/plugin-docker-buildx
    settings:
      repo: ghcr.io/sergeikrivko/aidoc-api
      registry: ghcr.io
      username: sergeikrivko
      password:
        from_secret: GITHUB_TOKEN
      context: api
      dockerfile: api/Dockerfile
      tag: main

.woodpecker/build-cli.yml:

when:
  - event: push
    path:
      include: [ '.woodpecker/build-cli.yml', 'AiDoc.Cli/**' ]

steps:
  - name: build and push cli
    image: woodpeckerci/plugin-docker-buildx
    settings:
      repo: ghcr.io/sergeikrivko/aidoc-cli
      registry: ghcr.io
      username: sergeikrivko
      password:
        from_secret: GITHUB_TOKEN
      tag: main

protocol
  api/app/core/openai_tool_caller/protocols/aidoc.yaml
  api/app/core/openai_tool_caller/system_prompts/features_role.txt
  api/app/core/openai_tool_caller/system_prompts/features_rules.txt
Due: build-api

new protocol
  api/app/core/openai_tool_caller/protocols/aidoc.yaml
Due: build-api

generated
  api/app/core/doc_generator/generator.py
  api/app/core/doc_generator/helpers.py
  api/app/core/doc_generator/models.py
  api/app/core/openai_tool_caller/__init__.py
  api/app/core/openai_tool_caller/generated/__init__.py
  api/app/core/openai_tool_caller/generated/models.py
  api/app/core/openai_tool_caller/generated/prompts.py
  api/app/core/openai_tool_caller/generated/tool_caller.py
  api/app/core/openai_tool_caller/generated/tools.py
  api/app/core/openai_tool_caller/protocols/aidoc.yaml
  api/app/core/openai_tool_caller/system_prompts/__init__.py
  api/app/core/openai_tool_caller/tool_caller.py
  api/app/services/documentation_svc.py
  api/poetry.lock
  api/pyproject.toml
Due: build-api

upgrade lib
  api/poetry.lock
  api/pyproject.toml
Due: build-api

pipeline badge
  README.md
Due: none

add descriptions
  api/app/core/openai_tool_caller/generated/tool_caller.py
  api/app/core/openai_tool_caller/generated/tools.py
  api/poetry.lock
  api/pyproject.toml
Due: build-api

fix mark tool methods
  api/app/core/openai_tool_caller/generated/tool_caller.py
  api/poetry.lock
  api/pyproject.toml
Due: build-api

zip extension
  api/app/services/documentation_svc.py
Due: build-api

draft
  AiDoc.Api.Client/AiDocApiClient.cs
  AiDoc.Api.Client/IAiDocApiClient.cs
  AiDoc.Api/AiDoc.Application/Shemas/DirectoryConfiguration.cs
  AiDoc.Cli/AiDoc.Cli.csproj
  AiDoc.Cli/DocumentProcessor.cs
  AiDoc.Cli/LocalDocumentationStorage.cs
  AiDoc.Cli/LocalSourceStorage.cs
  AiDoc.Cli/Program.cs
  AiDoc.Cli/README.md
  AiDoc.Git/GitClient.cs
  AiDoc.sln
  Core/AiDoc.Core.ApiClient/AiDoc.Core.ApiClient.csproj
  Core/AiDoc.Core.ApiClient/DocumentationApiClient.cs
  Core/AiDoc.Core.ApiClient/IDocumentationApiClient.cs
  Core/AiDoc.Core.ApiClient/Models/DocumentationGenerationRequest.cs
  Core/AiDoc.Core.ApiClient/Models/DocumentationGenerationResult.cs
  Core/AiDoc.Core.ApiClient/Models/DocumentationModels.cs
  Core/AiDoc.Core.ApiClient/README.md
  Core/AiDoc.Core.Generator/Adapters/GitClientAdapter.cs
  Core/AiDoc.Core.Generator/AiDoc.Core.Generator.csproj
  Core/AiDoc.Core.Generator/Interfaces/IGitClient.cs
  Core/AiDoc.Core.Generator/Interfaces/ILogger.cs
  Core/AiDoc.Core.Generator/Models/DocumentationAnalysisResult.cs
  Core/AiDoc.Core.Generator/Models/GenerationOptions.cs
  Core/AiDoc.Core.Generator/Models/SourceAnalysisResult.cs
  Core/AiDoc.Core.Generator/README.md
  Core/AiDoc.Core.Generator/Services/ConsoleLogger.cs
  Core/AiDoc.Core.Generator/Services/DocumentationGeneratorService.cs
  Core/AiDoc.Core.Generator/Services/DocumentationResultApplier.cs
Due: build-cli

remove irrelevant readmes
  AiDoc.ApiClient/README.md
  AiDoc.Cli/README.md
  AiDoc.Generator/Generator.cs
  AiDoc.Generator/README.md
Due: build-cli

update readme
  README.md
Due: none

string -> json content, remove redundant libs
  AiDoc.ApiClient/AiDoc.ApiClient.csproj
  AiDoc.ApiClient/AiDocApiClient.cs
  AiDoc.Generator/AiDoc.Generator.csproj
Due: none

bytearray => stream
  AiDoc.ApiClient/AiDocApiClient.cs
  AiDoc.ApiClient/IAiDocApiClient.cs
  AiDoc.Generator/FileStorage/IFileStorage.cs
  AiDoc.Generator/FileStorage/LocalFileStorage.cs
  AiDoc.sln
Due: none

bytearray -> stream in request
  AiDoc.ApiClient/AiDocApiClient.cs
  AiDoc.ApiClient/Models/DocumentationGenerationRequest.cs
  AiDoc.ApiClient/Models/DocumentationModels.cs
  AiDoc.Generator/FileStorage/IFileStorage.cs
  AiDoc.Generator/FileStorage/LocalFileStorage.cs
Due: none
